%h3 Password
= render partial: 'layouts/errors', locals: {error_object: @current_user}
= form_for @current_user, url: url_for(controller: :account, action: :change_password) do |f|
  = label_tag :old_password
  = password_field_tag :old_password
  = f.label :password, 'New password'
  = f.password_field :password
  = f.label :password_confirmation, 'New password again'
  = f.password_field :password_confirmation
  = f.submit 'Change Password', class: 'button'