%fieldset
  #password-errors.alert-box.alert.hidden{data: {alert: true}}
    %p
    %a.slide-close{href: "#"} &times;
  #password-success.alert-box.success.hidden{data: {alert: true}} Password updated!
  %legend Change Password
  = form_for @current_user, url: url_for(controller: :account, action: :change_password) do |f|
    = f.label :old_password
    = f.password_field :old_password, required: true
    = f.label :password, 'New password'
    = f.password_field :password, required: true, maxlength: User::MAX_PASSWORD_LENGTH
    = f.label :password_confirmation, 'New password again'
    = f.password_field :password_confirmation, required: true, maxlength: User::MAX_PASSWORD_LENGTH
    = f.submit 'Change Password', class: 'button', data: {disable_with: 'Updating...'}