%h1 Users
%table
  %thead
    %tr
      %th ID
      %th Username
      %th First
      %th Last
      %th Email
      %th Admin
  %tbody
    - @users.each do |user|
      %tr
        %th= user.id
        %th= user.username
        %th= user.first_name
        %th= user.last_name
        %th= user.email
        %th
          - if user.is_admin?
            %i.fi-check

:javascript
  $('table').dataTable();