!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title RailJumper4
    = stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      = link_to 'Home', root_path
      - if @current_user
        - if @current_user.is_admin?
          = link_to 'Admin', admin_path
        %span Logged in as #{@current_user.username}
        = link_to('Log out', login_path, method: :delete)
      - else
        = link_to('Log in', login_path)
        = link_to('Register', new_user_path)
    .row
      = yield
    / Foundation initialization javascript
    :javascript
      $(document).foundation(null,null,null,null,true);